body
{
	background-color: #8f8f8f;
	font-family: Arial;		
}

.container
{
	//float: left;
	clear: both;
	width: 100%;
	margin-bottom: 25px;
	//color: white;
}

/*img
   {
		margin: 0px 10px;
   }*/
   
body 
{
  background:#6b6b69;  
}

#map
{
	height: 600px;
	width: 75%;
}	

h1
{
	color: white;
}

.info
{
	position:relative;
	font-family:Arial;
	margin:10px;
	text-align:center;
	border-radius:5px;
	font-size:15px;
}

.location_form
{
	color: white;
}

#title {
  font-size:20px;
}

#rest2 {
  font-size:13px;
}

#text div {
	/*position:relative;*/
  box-sizing: border-box;	
  margin: 5px;
  
  height: 177.5px;
  width: 177.5px;
  
  /*height: 24%;
  width: 24%;*/
  
  border: 1px dashed gray;
  /*display: inline-block;*/
  float:left;
  /*margin-top: 100px;*/
}

#text {
  box-sizing: border-box;	
	
	
	
  display: none;
  width: 750px;
  height: 750px;
  background: black;
  
		/*border: 5px solid black;
		margin:auto;*/

  overflow: hidden;
  clear: both;
}

#images {
  max-width: 800px;
  /*width: 100%;*/
  margin-top: 100px;
  margin-bottom: 25px;
  clear: both;
  
}

img {
  /*height: 200px;
  width: 200px;*/
  clear: both;
  /*margin-bottom: 25px;*/
}

.gm-style
{
	max-width: 750px;
}

#map
{
	max-width: 750px !important;
	//display: none;
	
}

#imgMap
{
	margin-bottom: 25px;	
}

#images img
{	
	margin: 5px;
	width: 175.5px;
	height: 175.5px;
}

#drag1,
#drag2,
#drag3,
#drag4,
#drag5,
#drag6,
#drag7,
#drag8,
#drag9,
#drag10,
#drag11,
#drag12,
#drag13,
#drag14,
#drag15,
#drag16{
  height: 178.5px;
  width: 178.5px;
  
  display: inline-block;
}

#drag4 {
  background: linear-gradient(to bottom right, orange, orange, yellow);
}

#drag5 {
  background: linear-gradient(to right, red, orange);
}

#drag6 {
  background: linear-gradient(red, orange);
}

#drag7 {
  background: linear-gradient(to bottom right, red, red, orange);
}

#drag8 {
  background:yellow;
}

#drag9 {
  background: linear-gradient(orange, yellow);
}

#drag10 {
  background: linear-gradient(to right, orange, yellow);
}

#drag11 {
  background: linear-gradient(red, orange);
}

#drag12 {
  background: linear-gradient(to right, red,orange);
}

  
  